.dashboard-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    width: 1200px;
    flex-grow: 2;
}

.dashboard-main-section .deposit-board {
    display: flex;
    background-color: #07082C;
    border-radius: .5rem;
    width: 100%;
    padding: .5rem;
}

.deposit-board .deposit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

hr {
    width: 100%;
    border: .5px solid rgba(255, 255, 255, 30%);
}

select {
    background: transparent;
    border-radius: .3rem;
    width: 100%;
    padding: .25em;
    cursor: pointer;
}

.deposit-form select {
    color: #1d84d2;
    border-color: #170AA9;
}

/* can change select options color
.deposit-form select:focus {
    background-color: blue;
}
*/

.deposit-form .token-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.deposit-form .token-detail p {
    margin: 0 0;
}

.deposit-form .deposit-function-detail {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.deposit-function-detail .token-deposit-tabs {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.token-box {
    display: flex;
    flex-direction: column;
}

.token-box .token-logo-box {
    display: flex;
    align-items: center;
    margin: 0;
}

.token-logo-box img {
    width: 20px;
    height: 20px;
}

.deposit-function-detail .token-deposit-tabs p {
    margin: 0;
}

.tabs {
    display: flex;
    padding: 0;
    min-width: 6em;
    min-height: 2em;
    background: transparent;
    border: 1px solid black;
    border-radius: .5rem;
    align-items: stretch;
}

.tabs .tab {
    background: transparent;
    color: inherit;
    border: none;
    font-weight: bold;
    cursor: pointer;
    min-width: 4em;
}

.tabs .tab--active {
    background-color: #245DCB;
    border-radius: .5rem;
    margin: .2rem 0;
}

.deposit-function-detail .amount-label {
    margin: .25em 0;
}

input {
    background: transparent;
    border: 1px solid black;
    border-radius: .3em;
    padding: .15em;
    font-size: 1.15em;
    color: inherit;
}

.deposit-function-detail .deposit-btn {
    background: transparent;
    border: 1px solid #74F4FC;
    color: #74F4FC;
    padding: 1em;
    margin-top: 1em;
    border-radius: .5em;
    cursor: pointer;
}

.deposit-function-detail .deposit-btn:hover {
    color: #036734;
    border-color: #036734;
}

.deposit-function-detail .deposit-btn:focus {
    color: #1a0d91;
    border-color: #1a0d91;
}


/* Graph table */
.deposit-board .rate-balance-graph-table {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
}


.dashboard-main-section .bet-my-transactions-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.5em;
}

.bet-my-transactions-section .bet-form {
    width: 30%;
    background-color: #07082C;
    padding: .5rem;
    border-radius: .5rem;
}

.bet-form select {
    color: #f334d0;
    border-color: #C00E0E;
}

.bet-form .token0-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.token0-form .bet-label {
    margin: .1em 0 .3em;
    font-size: 1.5em;
    color: #B8720A;
}

.token0-form p {
    margin: 0;
}

.token-rate-box {
    display: flex;
}

.token-rate-box .rate-box {
    margin-left: 4em;
    display: flex;
    flex-direction: column;
}

.bet-form .token1-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.token1-form .order-label {
    margin: .1em 0 .3em;
    font-size: 1.5em;
    color: #00C92C;
}

.token1-form p {
    margin: 0;
}